.main{
    display: flex;  
    flex-direction: row;
    width: 100%;
    // background-color: aquamarine;

    justify-content: center ;
     .sideBarContainer{ 
        position: sticky;
        width: 20%;
        height:calc(100vh - var(--nav_height));
        top:var(--nav_height);
        left: 0;
     }
     .content{
        width: 80%;
    }

}