.featured{
    height: 180px;
    width:  28%;
    min-width: 250px;
    border-radius: 5px;
    padding: 20px;
    color: #555;
    display: flex;
flex-direction: column;
justify-content: center;

// background: rgb(19,214,194);
// background: linear-gradient(346deg, rgba(19,214,194,1) 0%, rgba(2,0,36,1) 70%); 

    // box-shadow: -1px 5px 12px -6px rgba(0,0,0,0.25);
    // -webkit-box-shadow: -1px 5px 12px -6px rgba(0,0,0,0.25);
    // -moz-box-shadow: -1px 5px 12px -6px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 20px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px -16px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px -16px rgba(0, 0, 0, 1);
    .featuredTitle{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
    }
}